.to-do-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    border-radius: 10px;

    &-finished {
        background-color: antiquewhite;
    }
}